@model EventVM


@await Component.InvokeAsync("Header", Model)


<div class="event-area three text-center pt-150 pb-150">
    <div class="container">
        <div class="row">

            @foreach (Event item in Model.Events)
            {
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-event mb-60">
                        <div class="event-img">
                            <a>
                                <img src="~/assets/img/event/@item.Image" alt="event">
                                <div class="course-hover">
                                    <i class="fa fa-link"></i>
                                </div>
                            </a>
                            <div class="event-date">
                               @Html.Raw(item.EventDate)
                            </div>
                        </div>
                        <div class="event-content text-left">
                            <h4><a href="event-details.html">@item.Title</a></h4>
                            <ul>
                                <li><span>time:</span> 9.00 AM - 4.45 PM</li>
                                <li><span>venue</span> @item.Venue</li>
                            </ul>
                            <div class="event-content-right">
                                <a class="default-btn" href="event-details.html">join now</a>
                            </div>
                        </div>
                    </div>
                </div>
            }

            }

        </div>
</div>



