@model Event


<div class="event-details-area blog-area pt-110 pb-140">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="event-details">
                    <div class="event-details-img">
                        <img style="width: 100%;" src="~/assets/img/event/@Model.Image" alt="event-details">
                        <div class="event-date">
                            @Html.Raw(Model.EventDate)
                        </div>
                    </div>
                    <div class="event-details-content">
                        <h2>@Model.Title</h2>
                        <ul>
                            <li><span>time : </span>@Model.Date</li>
                            <li><span>venue : </span>@Model.Venue</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
