@model IEnumerable<Testimonial>


 <div class="testimonial-area pt-110 pb-105 text-center">
            <div class="container">
                <div class="row">
                    <div class="testimonial-owl owl-theme owl-carousel">
                        <div class="col-md-8 col-md-offset-2 col-sm-12">
                            <div class="single-testimonial">
                                @foreach (Testimonial testimonial in Model)
                                {
                    <div class="testimonial-info">
                        <div class="testimonial-img">
                            <img src="~/assets/img/testimonial/@testimonial.Img" alt="testimonial">
                        </div>
                        <div class="testimonial-content">
                            <p>@testimonial.Content</p>
                            <h4>@testimonial.Fullname</h4>
                            <h5>@testimonial.About</h5>
                        </div>
                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>