@model Teacher

@{
    ViewData["Title"] = "Create";
    IEnumerable<TeacherSkill> teacherSkills = ViewBag.TeacherSkills;
}


<h1 class="text-center mt-3" >Create Teacher</h1>
<div class="mb-3 d-flex justify-content-center">
    <form style="width: 850px;" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Fullname" class="form-label"></label>
            <input asp-for="Fullname" class="form-control">
            <span asp-validation-for="Fullname" class="text text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Rank" class="form-label"></label>
            <input asp-for="Rank" class="form-control">
            <span asp-validation-for="Rank" class="text text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="form-label"></label>
            <input asp-for="Description" class="form-control">
            <span asp-validation-for="Description" class="text text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="File"></label>
            <input asp-for="File" type="file" accept="image/jpeg" class="form-control">
            <span asp-validation-for="File " class="text text-danger"></span>

        </div>
        @*<div class="form-group">
            <label asp-for="TeacherSkills" class="form-label"></label>
            <input asp-for="TeacherSkills" class="form-control">
            <span asp-validation-for="TeacherSkills" class="text text-danger"></span>
        </div>*@
        <div class="form-group">
            <label asp-for="Experince" class="form-label"></label>
            <input asp-for="Experince" class="form-control">
            <span asp-validation-for="Experince" class="text text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Hobby" class="form-label"></label>
            <input asp-for="Hobby" class="form-control">
            <span asp-validation-for="Hobby" class="text text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Faculty" class="form-label"></label>
            <input asp-for="Faculty" class="form-control">
            <span asp-validation-for="Faculty" class="text text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Skype" class="form-label"></label>
            <input asp-for="Skype" class="form-control">
            <span asp-validation-for="Skype" class="text text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Number" class="form-label"></label>
            <input asp-for="Number" class="form-control">
            <span asp-validation-for="Number" class="text text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control">
            <span asp-validation-for="Email" class="text text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="FacebookURL" class="form-label"></label>
            <input asp-for="FacebookURL" class="form-control">
            <span asp-validation-for="FacebookURL" class="text text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PinterestURL" class="form-label"></label>
            <input asp-for="PinterestURL" class="form-control">
            <span asp-validation-for="PinterestURL" class="text text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="VimeoURL" class="form-label"></label>
            <input asp-for="VimeoURL" class="form-control">
            <span asp-validation-for="VimeoURL" class="text text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="TwitterURL" class="form-label"></label>
            <input asp-for="TwitterURL" class="form-control">
            <span asp-validation-for="TwitterURL" class="text text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>

@section script{
    @await Html.PartialAsync("_ValidationPartial") 
}
