@model HomeVM



    <!-- Header Area Start -->
    <header class="top">
        <div class="header-area header-sticky fixed">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="logo">
                            <a asp-controller="home" ><img src="~/assets/img/logo/logo.png" alt="eduhome" /></a>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <div class="content-wrapper one">
                            <!-- Main Menu Start -->
                            <div class="main-menu one text-right">
                                <nav>
                                    <ul>
                                        <li>
                                            <a asp-controller="home">Home</a>
                                            <ul>
                                                <li><a href="index.html">Home One</a></li>
                                                <li><a href="index-2.html">Home Two</a></li>
                                                <li><a href="index-3.html">Home Three</a></li>
                                                <li><a href="index-4.html">Home Four</a></li>
                                                <li><a href="index-5.html">Home Five</a></li>
                                            </ul>
                                        </li>
                                        <li><a asp-controller="about">About</a></li>
                                        <li>
                                            <a href="course.html">courses</a>
                                            <ul>
                                                <li><a href="course.html">courses</a></li>
                                                <li><a href="course-details.html">courses details</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="event.html">event</a>
                                            <ul>
                                                <li><a href="event.html">event</a></li>
                                                <li><a href="event-left-side-bar.html">event left sidebar</a></li>
                                                <li><a href="event-right-side-bar.html">event right sidebar</a></li>
                                                <li><a href="event-details.html">event details</a></li>
                                            </ul>
                                        </li>
                                        <li class="hidden-sm">
                                            <a href="teacher.html">teacher</a>
                                            <ul>
                                                <li><a href="teacher.html">teacher</a></li>
                                                <li><a href="teacher-details.html">teacher details</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="blog.html">blog</a>
                                            <ul>
                                                <li><a href="blog.html">blog</a></li>
                                                <li><a href="blog-left-side-bar.html">blog left sidebar</a></li>
                                                <li><a href="blog-right-side-bar.html">blog righ sidebar</a></li>
                                                <li><a href="blog-details.html">blog details</a></li>
                                            </ul>
                                        </li>
                                        <li><a asp-controller="contact">Contact</a></li>
                                        <li><a href="#">Buy Now</a>
                                    </ul>
                                </nav>
                            </div>
                            <div class="mobile-menu hidden-lg hidden-md one"></div>
                            <!-- Main Menu End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Area End -->
    <!-- Background Area Start -->
    @await Component.InvokeAsync("Slider", Model)
    <!-- Background Area End -->
    <!-- Notice Start -->

    <section class="notice-area pt-150 pb-150">
    @await Component.InvokeAsync("NoticeLeft", Model)
    @await Component.InvokeAsync("NoticeRight", Model)
    </section>
    <!-- Notice End -->
    <!-- Choose Start -->
    @await Component.InvokeAsync("Choose", Model)
    <!-- Choose Area End -->
    <!-- Courses Area Start -->
    <div class="courses-area pt-150 text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="section-title">
                        <img src="~/assets/img/icon/section.png" alt="section-title">
                        <h2>COURSES WE OFFER</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-course">
                        <div class="course-img">
                            <a href="course-details.html">
                                <img src="~/assets/img/course/course1.jpg" alt="course">
                                <div class="course-hover">
                                    <i class="fa fa-link"></i>
                                </div>
                            </a>
                        </div>
                        <div class="course-content">
                            <h3><a href="course-details.html">CSE ENGINEERING</a></h3>
                            <p>I must explain to you how all this a mistaken idea of denouncing great explorer of the rut the is lder of human happiness</p>
                            <a class="default-btn" href="course-details.html">read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-course">
                        <div class="course-img">
                            <a href="course-details.html">
                                <img src="~/assets/img/course/course2.jpg" alt="course">
                                <div class="course-hover">
                                    <i class="fa fa-link"></i>
                                </div>
                            </a>
                        </div>
                        <div class="course-content">
                            <h3><a href="course-details.html">CSE ENGINEERING</a></h3>
                            <p>I must explain to you how all this a mistaken idea of denouncing great explorer of the rut the is lder of human happiness</p>
                            <a class="default-btn" href="course-details.html">read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 hidden-sm col-xs-12">
                    <div class="single-course">
                        <div class="course-img">
                            <a href="course-details.html">
                                <img src="~/assets/img/course/course3.jpg" alt="course">
                                <div class="course-hover">
                                    <i class="fa fa-link"></i>
                                </div>
                            </a>
                        </div>
                        <div class="course-content">
                            <h3><a href="course-details.html">CSE ENGINEERING</a></h3>
                            <p>I must explain to you how all this a mistaken idea of denouncing great explorer of the rut the is lder of human happiness</p>
                            <a class="default-btn" href="course-details.html">read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Courses Area End -->
    <!-- Event Area Start -->
    <div class="event-area one text-center pt-140 pb-150">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="section-title">
                        <img src="~/assets/img/icon/section.png" alt="section-title">
                        <h2>UPCOMMING EVENTS</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="single-event mb-35">
                        <div class="event-date">
                            <h3><a href="event-details.html">20 <span>June</span></a></h3>
                        </div>
                        <div class="event-content text-left">
                            <div class="event-content-left">
                                <h4><a href="event-details.html">MICRO BIOLOGICAL WORKSHOP</a></h4>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i>9.00 AM - 4.45 PM</li>
                                    <li><i class="fa fa-map-marker"></i>New Yourk City</li>
                                </ul>
                            </div>
                            <div class="event-content-right">
                                <a class="default-btn" href="event-details.html">join now</a>
                            </div>
                        </div>
                    </div>
                    <div class="single-event mb-35">
                        <div class="event-date">
                            <h3><a href="event-details.html">18 <span>June</span></a></h3>
                        </div>
                        <div class="event-content text-left">
                            <div class="event-content-left">
                                <h4><a href="event-details.html">ADVANCE PHP WORKSHOP</a></h4>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i>9.00 AM - 4.45 PM</li>
                                    <li><i class="fa fa-map-marker"></i>New Yourk City</li>
                                </ul>
                            </div>
                            <div class="event-content-right">
                                <a class="default-btn" href="event-details.html">join now</a>
                            </div>
                        </div>
                    </div>
                    <div class="single-event mb-35">
                        <div class="event-date">
                            <h3><a href="event-details.html">16 <span>June</span></a></h3>
                        </div>
                        <div class="event-content text-left">
                            <div class="event-content-left">
                                <h4><a href="event-details.html">LEARN ENGLISH HISTORY</a></h4>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i>9.00 AM - 4.45 PM</li>
                                    <li><i class="fa fa-map-marker"></i>New Yourk City</li>
                                </ul>
                            </div>
                            <div class="event-content-right">
                                <a class="default-btn" href="event-details.html">join now</a>
                            </div>
                        </div>
                    </div>
                    <div class="single-event">
                        <div class="event-date">
                            <h3><a href="event-details.html">14 <span>June</span></a></h3>
                        </div>
                        <div class="event-content text-left">
                            <div class="event-content-left">
                                <h4><a href="event-details.html">GLOBAL ECONOMIC CONFERENCE</a></h4>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i>9.00 AM - 4.45 PM</li>
                                    <li><i class="fa fa-map-marker"></i>New Yourk City</li>
                                </ul>
                            </div>
                            <div class="event-content-right">
                                <a class="default-btn" href="event-details.html">join now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 hidden-sm hidden-xs">
                    <div class="single-event mb-35">
                        <div class="event-date">
                            <h3><a href="event-details.html">12 <span>June</span></a></h3>
                        </div>
                        <div class="event-content text-left">
                            <div class="event-content-left">
                                <h4><a href="event-details.html">MATHEMATICAL WORKSHOP</a></h4>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i>9.00 AM - 4.45 PM</li>
                                    <li><i class="fa fa-map-marker"></i>New Yourk City</li>
                                </ul>
                            </div>
                            <div class="event-content-right">
                                <a class="default-btn" href="event-details.html">join now</a>
                            </div>
                        </div>
                    </div>
                    <div class="single-event mb-35">
                        <div class="event-date">
                            <h3><a href="event-details.html">10 <span>June</span></a></h3>
                        </div>
                        <div class="event-content text-left">
                            <div class="event-content-left">
                                <h4><a href="event-details.html">WORDPRESS AUTHOR MEET UP</a></h4>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i>9.00 AM - 4.45 PM</li>
                                    <li><i class="fa fa-map-marker"></i>New Yourk City</li>
                                </ul>
                            </div>
                            <div class="event-content-right">
                                <a class="default-btn" href="event-details.html">join now</a>
                            </div>
                        </div>
                    </div>
                    <div class="single-event mb-35">
                        <div class="event-date">
                            <h3><a href="event-details.html">08 <span>June</span></a></h3>
                        </div>
                        <div class="event-content text-left">
                            <div class="event-content-left">
                                <h4><a href="event-details.html">DIGITAL MARKETING ANALYSIS</a></h4>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i>9.00 AM - 4.45 PM</li>
                                    <li><i class="fa fa-map-marker"></i>New Yourk City</li>
                                </ul>
                            </div>
                            <div class="event-content-right">
                                <a class="default-btn" href="event-details.html">join now</a>
                            </div>
                        </div>
                    </div>
                    <div class="single-event">
                        <div class="event-date">
                            <h3><a href="event-details.html">06 <span>June</span></a></h3>
                        </div>
                        <div class="event-content text-left">
                            <div class="event-content-left">
                                <h4><a href="event-details.html">WROKSHOP ON UI &amp; UX</a></h4>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i>9.00 AM - 4.45 PM</li>
                                    <li><i class="fa fa-map-marker"></i>New Yourk City</li>
                                </ul>
                            </div>
                            <div class="event-content-right">
                                <a class="default-btn" href="event-details.html">join now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Event Area End -->
    <!-- Testimonial Area Start -->
    @await Component.InvokeAsync("Testimonial", Model)
    <!-- Testimonial Area End -->
    <!-- Blog Area Start -->
    <div class="blog-area pt-150 pb-150">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="section-title text-center">
                        <img src="~/assets/img/icon/section.png" alt="section-title">
                        <h2>LATEST FROM BLOG</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-blog">
                        <div class="blog-img">
                            <a href="blog-details.html"><img src="~/assets/img/blog/blog1.jpg" alt="blog"></a>
                            <div class="blog-hover">
                                <a href="blog-details.html"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                        <div class="blog-content">
                            <div class="blog-top">
                                <p>By Alex  /  June 20, 2017  /  <i class="fa fa-comments-o"></i> 4</p>
                            </div>
                            <div class="blog-bottom">
                                <h2><a href="blog-details.html">I must explain to you how all this a mistaken idea </a></h2>
                                <a href="blog-details.html">read more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-blog">
                        <div class="blog-img">
                            <a href="blog-details.html"><img src="~/assets/img/blog/blog2.jpg" alt="blog"></a>
                            <div class="blog-hover">
                                <a href="blog-details.html"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                        <div class="blog-content">
                            <div class="blog-top">
                                <p>By Alex  /  June 20, 2017  /  <i class="fa fa-comments-o"></i> 4</p>
                            </div>
                            <div class="blog-bottom">
                                <h2><a href="blog-details.html">I must explain to you how all this a mistaken idea </a></h2>
                                <a href="blog-details.html">read more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 hidden-sm col-xs-12">
                    <div class="single-blog">
                        <div class="blog-img">
                            <a href="blog-details.html"><img src="~/assets/img/blog/blog3.jpg" alt="blog"></a>
                            <div class="blog-hover">
                                <a href="blog-details.html"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                        <div class="blog-content">
                            <div class="blog-top">
                                <p>By Alex  /  June 20, 2017  /  <i class="fa fa-comments-o"></i> 4</p>
                            </div>
                            <div class="blog-bottom">
                                <h2><a href="blog-details.html">I must explain to you how all this a mistaken idea </a></h2>
                                <a href="blog-details.html">read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog Area End -->
