@model Course

@{
    ViewData["Title"] = "Create";
    IEnumerable<Category> categories = ViewBag.Categories;
    IEnumerable<Tag> tags = ViewBag.Tags;

    SelectList selectListCategoriesItems = new SelectList(categories, nameof(Category.Id), nameof(Category.Name));
    SelectList selectListTagsItems = new SelectList(tags, nameof(Tag.Id), nameof(Tag.Name));

}


<h1>Create Course</h1>
<div class="mb-3 d-flex justify-content-center">
    <form style="width: 850px;" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Title" class="form-label"></label>
            <input asp-for="Title" class="form-control">
            <span asp-validation-for="Title" class="text text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="form-label"></label>
            <input asp-for="Description" class="form-control">
            <span asp-validation-for="Description" class="text text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="File"></label>
            <input asp-for="File" type="file" accept="image/jpeg" class="form-control">
            <span asp-validation-for="File " class="text text-danger"></span>

        </div>
        <div class="form-group">
            <label asp-for="AboutDesc" class="form-label"></label>
            <input asp-for="AboutDesc" class="form-control">
            <span asp-validation-for="AboutDesc" class="text text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ApplyDesc" class="form-label"></label>
            <input asp-for="ApplyDesc" class="form-control">
            <span asp-validation-for="ApplyDesc" class="text text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CertificationDesc" class="form-label"></label>
            <input asp-for="CertificationDesc" class="form-control">
            <span asp-validation-for="CertificationDesc" class="text text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CourseAssesments" class="form-label"></label>
            <input asp-for="CourseAssesments" class="form-control">
            <span asp-validation-for="CourseAssesments" class="text text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CourseClassDuration" class="form-label"></label>
            <input asp-for="CourseClassDuration" class="form-control">
            <span asp-validation-for="CourseClassDuration" class="text text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CourseDuration" class="form-label"></label>
            <input asp-for="CourseDuration" class="form-control">
            <span asp-validation-for="CourseDuration" class="text text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CourseLanguage" class="form-label"></label>
            <input asp-for="CourseLanguage" class="form-control">
            <span asp-validation-for="CourseLanguage" class="text text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CourseSkillLevel" class="form-label"></label>
            <input asp-for="CourseSkillLevel" class="form-control">
            <span asp-validation-for="CourseSkillLevel" class="text text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CourseStarts" class="form-label"></label>
            <input asp-for="CourseStarts" class="form-control">
            <span asp-validation-for="CourseStarts" class="text text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CourseStudents" class="form-label"></label>
            <input asp-for="CourseStudents" class="form-control">
            <span asp-validation-for="CourseStudents" class="text text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="FEE" class="form-label"></label>
            <input asp-for="FEE" class="form-control">
            <span asp-validation-for="FEE" class="text text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LastDesc" class="form-label"></label>
            <input asp-for="LastDesc" class="form-control">
            <span asp-validation-for="LastDesc" class="text text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="TitleDesc" class="form-label"></label>
            <input asp-for="TitleDesc" class="form-control">
            <span asp-validation-for="TitleDesc" class="text text-danger"></span>
        </div>
        <div id="parentList" class="form-group">
            <label>Category</label>
            <select asp-for="CategoryId" class="form-control" asp-items="selectListCategoriesItems">
            </select>
        </div>
        <div id="parentList" class="form-group">
            <label>Tag</label>
            <select asp-for="TagIds" class="form-control" asp-items="selectListTagsItems">
            </select>
            <span asp-validation-for="TagIds" class="text text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>

@section script{
    @await Html.PartialAsync("_ValidationPartial")
}
