@model ContactVM

@inject LayoutService layoutservices
@{ 
    Dictionary<string, string> settings = await layoutservices.GetSettingsAsync();
}


<!-- Banner Area Start -->
<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>about us</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- Contact Start -->
    @await Component.InvokeAsync("GoogleMap", settings)
<div class="contact-area pt-150 pb-140">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-5 col-xs-12">
                <div class="contact-contents text-center">
                    <div class="single-contact">

                        @await Component.InvokeAsync("ContactContent", Model)
                    </div>
                </div>
            </div>
            <div class="col-md-7 col-sm-7 col-xs-12">
                @await Component.InvokeAsync("ContactForm", Model)
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->
