
@model Category

@{
    ViewData["Title"] = "Create";
}


<h1 class="text-center mt-3">Create Category</h1>
<div class="mb-3 d-flex justify-content-center">
    <form style="width: 850px;" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control">
            <span asp-validation-for="Name" class="text text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>

@section script{
    @await Html.PartialAsync("_ValidationPartial")
}

